*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
  color-scheme: light;

  --bg: #e8ebee;
  --color: black;
  --fancy-color: black;

  --overlay-bg: white;
  --shadow: rgba(255, 255, 255, 0.7);
  --invert: 0;

  --accent-color: #33ca7f;
  --btn-color: black;

  --scroll-thumb-color: #aaa;

  --border-radius: 16px;

  --shadow-color: 211deg 6% 52%;
  --shadow-elevation-low: 0.5px 0.6px 0.9px hsl(var(--shadow-color) / 0.4),
    0.8px 1px 1.4px -1.2px hsl(var(--shadow-color) / 0.4),
    2.1px 2.5px 3.7px -2.5px hsl(var(--shadow-color) / 0.4);
  --shadow-elevation-medium: 0.5px 0.6px 0.9px hsl(var(--shadow-color) / 0.42),
    1.7px 2px 3px -0.8px hsl(var(--shadow-color) / 0.42),
    4.3px 5px 7.4px -1.7px hsl(var(--shadow-color) / 0.42),
    10.6px 12.4px 18.4px -2.5px hsl(var(--shadow-color) / 0.42);
  --shadow-elevation-high: 0.5px 0.6px 0.9px hsl(var(--shadow-color) / 0.39),
    3.3px 3.8px 5.7px -0.4px hsl(var(--shadow-color) / 0.39),
    6.1px 7.2px 10.6px -0.7px hsl(var(--shadow-color) / 0.39),
    10.2px 11.8px 17.5px -1.1px hsl(var(--shadow-color) / 0.39),
    16.3px 19px 28.2px -1.4px hsl(var(--shadow-color) / 0.39),
    25.5px 29.7px 44px -1.8px hsl(var(--shadow-color) / 0.39),
    38.8px 45.2px 67px -2.1px hsl(var(--shadow-color) / 0.39),
    57.2px 66.7px 98.9px -2.5px hsl(var(--shadow-color) / 0.39);
}

html[dark] {
  color-scheme: dark;
  --bg: hsl(191, 100%, 5%);
  --color: white;
  --fancy-color: var(--accent-color);

  --overlay-bg: #003844;
  --shadow: rgba(0, 0, 0, 0.7);
  --invert: 1;

  --scroll-thumb-color: rgb(105, 105, 105);

  --shadow-color: 191deg 100% 4%;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: 'Raleway Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--bg);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
button,
textarea {
  accent-color: var(--accent-color);
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 0.5ch 0.7ch;
}

input[type='text']:disabled {
  background-color: transparent;
}

input[type='text'],
input[type='email'],
input[type='password'],
select {
  border-radius: 5px;
  border: 1px solid var(--color);
  color: var(--fancy-color);
}

select {
  padding: 0.5ch;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  text-align: center;
  font-size: 3em;
}

p,
ul,
ol,
a {
  font-size: 1.125rem;
}

a {
  color: var(--color);
}

button {
  border: 0;
  background: var(--accent-color);
  color: var(--btn-color);
  padding: 1ch 2ch;
  border-radius: 1ch;
  cursor: pointer;
  transition: filter 0.2s, box-shadow 0.2s;
}

button:disabled {
  cursor: default;
  filter: brightness(0.7) grayscale(1);
}

button:not(:disabled, .img-btn, .clear-btn):hover {
  filter: brightness(1.1);
  box-shadow: var(--shadow-elevation-low);
}

.clear-btn {
  background: transparent;
  color: var(--color);
  text-align: left;
}

.img-btn {
  width: 2em;
  height: 2em;
  padding: 0;
}

.img-btn svg,
.img-btn img {
  height: 100%;
}

.danger-btn {
  background: #ca3333;
  color: white;
}

@font-face {
  font-family: 'Raleway Light';
  src: url('/fonts/Raleway-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

ul,
menu {
  list-style: none;
  padding-inline-start: 0;
}

main {
  max-width: 120ch;
  margin: 0 auto;
  padding: 2ch;
}

.flex {
  display: flex;
  gap: 2ch;
}

.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
  gap: 2ch;
}

.relative {
  position: relative;
}

.full-height {
  height: 100%;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  height: 56px;
  background-clip: content-box;
  border-radius: 8px;
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #868686;
}
