*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: 'Raleway-Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1 {
  text-align: center;
  font-size: 3em;
}

button {
  border: 0;
  background: var(--btn-bg);
  color: var(--btn-color);
  padding: 1ch 2ch;
  border-radius: 1ch;
  cursor: pointer;
}

button:disabled {
  cursor: default;
  filter: brightness(0.7) grayscale(1);
}

@font-face {
  font-family: 'Raleway-Light';
  src: url('/fonts/Raleway-Light.ttf');
}
